<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">

    <h1>User List</h1>
    <button class="btn btn-success" (click)="onClick()">
        Add User
    </button>
    <table class="table">
        <thead>
            <tr>
                <!-- <th>S.N</th> -->
                <th>ID</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>email</th>
                <th>Password</th>
                <th>DOB</th>
                <th colspan="1">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userResponse;let i=index;">
                
                <td class=>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.mobileNumber}}</td>
                <td>{{data.email}}</td>
                <td>{{data.password}}</td>
                <td>{{data.dob}}</td>
                <td>
                    <button class="btn btn-warning" (click)="onEdit(data.id)"><i class="fa fa-pencil-square"></i>
                        Edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning" (click)="onView(data.id)" >
                        <i class="fa fa-eye"></i> View
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger " (click)="deleteUser(data.id)"><i class="fa fa-trash"></i>
                        Delete
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</div>